/*Add a black background color to the top navigation bar*/
.NavBar{
    background-color: #777771;
    overflow: hidden;
}
/*Style the links inside the top navigation bar*/
.NavBar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/*Changes the color of the links on hover*/
.NavBar a:hover {
    background-color: #701fd4;
    color: black;
}
/*Add a color to the active/current link*/
.NavBar a.active{
    background-color: #701FD4;
    color: white;
}
/*Styling for the footer*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: black;
    text-align: center;
    overflow: hidden;
}